.interested {
    background-color: #FFD700 !important; 
    color: #000 !important; 
}

.applied {
    background-color: #87CEEB !important; 
    color: #000 !important; 
}

.interviewed {
    background-color: #A349A4 !important; 
    color: #fff !important; 
}

.offered {
    background-color: #32CD32 !important; 
    color: #000 !important; 
}

.rejected {
    background-color: #FF6347 !important; 
    color: #fff !important; 
}

.jobStatus {
    color: blue !important;
}

