.interested {
    background-color: #FFD700 !important; /* Custom color for Interested status */
    color: #000 !important; /* Dark text on a light background */
}

.applied {
    background-color: #87CEEB !important; /* Custom color for Applied status */
    color: #000 !important; /* Dark text on a light background */
}

.interviewed {
    background-color: #A349A4 !important; /* Custom color for Interviewed status */
    color: #fff !important; /* Light text on a dark background */
}

.offered {
    background-color: #32CD32 !important; /* Custom color for Offered status */
    color: #000 !important; /* Dark text on a light background */
}

.rejected {
    background-color: #FF6347 !important; /* Custom color for Rejected status */
    color: #fff !important; /* Light text on a dark background */
}


