form {
    border: 0.5rem solid #ccc;
    padding: 2.5rem;
    border-radius: 1.5rem;
    background-color: #f9f9f9;
    max-width: 700px;
    margin: 4rem auto;
  }
  
  form label {
    display: block;
    margin-bottom: 2rem;
  }
  
  input[type="text"],
  input[type="url"],
  select,
  textarea,
  button {
    width: 100%; 
    padding: 2rem;
    margin-bottom: 0.5rem; 
    border: 1.5px solid #ccc;
    border-radius: 2rem;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  