/* Resetting default margin and padding */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

/* Setting black background */
body {
    background-color: #000;
    color: #fff;
    /* Setting text color to white for better visibility */
}

/* Styling input elements */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    /* Remove default border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    background-color: rgba(10, 71, 140, 0.5);
    /* Lighter blue background */
    color: #fff;
    /* Text color */
}

/* Styling select elements */
select {
    width: 100%;
    /* Make select elements full width */
    padding: 10px;
    margin-bottom: 5px;

    border: none;
    /* Remove default border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    background-color: rgba(10, 71, 140, 0.5);
    /* Lighter blue background */
    color: #fff;
    /* Text color */
}

/* Styling select dropdown options */
select option {
    background-color: #333;
    color: #fff;
}

/* Styling button */
button {
    width: 100%;
    /* Make button full width */
    padding: 10px;
    /* Add padding for better spacing */
    margin-bottom: 10px;
    /* Add margin between buttons */
    border: none;
    /* Remove default border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    background-color: rgb(10, 71, 140);
    /* Blue background */
    color: #fff;
    /* Text color */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

/* Hover effect for button */
button:hover {
    background-color: rgb(0, 51, 102);
    /* Darker blue on hover */
}

.pageTitle {
    margin-bottom: 5px;
    color: #fff;
}

.displayHeading {
    margin-bottom: 5px;
    color: #fff;
}

.button,
.dropDown {
    margin-bottom: 5px;
    color: #fff;
    margin-left: 5px;
    margin-right: 7px;
}