* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

input[type="text"], input[type="url"], select, button, textarea, option, #addJob, .resultsIndividual {
    width: 95%;
    border-radius: 5px !important;
    color: #fff;
    border: none;
    margin: 10px 5px 0px 5px !important;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 18px !important;
}

input[type="text"], input[type="url"], select, textarea, option {
background-color: rgb(10, 71, 140);
}

#addJob, button {
    background-color: rgb(0, 51, 102);
}


option {
    background-color: #333;
    color: #fff;
}

button:hover,  #addJob:hover {
    background-color: rgba(10, 71, 140, 0.5);
}

.pageTitle {
    margin-bottom: 5px;
    color: #fff;
}

.displayHeading {
    margin-bottom: 5px;
    color: #fff;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.resultsIndividual  {
    display: flex;
    flex-direction: column;
    width: 99%;
    border: solid white 2px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-wrap: wrap;
    background-color: rgb(10, 71, 140);
    font-family: "Bebas Neue", sans-serif;
}
 
.resultsIndividual a
{
color: white;
}



