.bg-body-tertiary {
    background-color: white !important; 
  }
  
  .navbar-brand, .nav-link {
    color: black !important; 
    transition: color 0.3s ease-in-out; 
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: #f8f9fa !important; 
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); 
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 30 30'><path d='M0 6h30v2H0zm0 8h30v2H0zm0 8h30v2H0z'/></svg>") !important; 
  }
  