.nav-bg {
  background-color: #343a40; /* Dark background color */
}

.navbar-brand, .nav-link {
  color: white !important; 
  transition: color 0.3s ease-in-out; 
}

.navbar-brand {
  font-family: 'Pacifico', cursive; 
  font-size: 26px !important; 
}

.nav-link {
  font-family: 'Pacifico', cursive; 
  font-size: 20px !important; 
}

.navbar-brand:hover, .nav-link:hover {
  color: #f8f9fa !important; 
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.927); 
}
