/* Resetting default margin and padding */
* {
    margin: 50;
    padding: 30;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    padding: 20px 20px;
    /* Setting text color to white for better visibility */
}

/* Styling input elements */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(10, 71, 140);
    /* Blue background */
    color: #fff;
}

/* Styling select elements */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(10, 71, 140);
    /* Blue background */
    color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding-right: 20px;
}

/* Styling select dropdown arrow icon in Firefox */
@-moz-document url-prefix() {
    select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
        background-position: right 10px center;
        background-repeat: no-repeat;
    }
}

/* Styling select dropdown options */
select option {
    background-color: #333;
    /* Dark background color for options */
    color: #fff;
    /* Text color for options */
}

/* Styling button */
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 51, 102);
    /* rgb(10, 71, 140);*/
    /* Blue background */
    color: #fff;
    cursor: pointer;
}

/* Hover effect for button */
button:hover {
    background-color: rgb(0, 51, 102);
    /* Darker blue on hover */
}

#results {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
}

.resultsIndividual  {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid white 2px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-wrap: wrap;
    background-color: rgb(10, 71, 140);
    font-family: "Bebas Neue", sans-serif;
}

.resultsIndividual a
{
color: white;
}




h1, h2, input, option, button, select {
font-family: "Bebas Neue", sans-serif;
}

h1, h2 {
margin: 10px 0px;
}

input, option, button, select {
font-size: 18px;   
}
