/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #000;
    /* Setting black background */
    color: #fff;
    /* Setting text color to white for better visibility */
}

/* Styling input elements */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

/* Styling select elements */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgba(255, 255, 255, 0);
    /* Add custom arrow icon */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    /* Position the arrow icon */
    background-position: right 10px center;
    /* Ensure the arrow icon is not repeated */
    background-repeat: no-repeat;
    /* Firefox */
    -moz-appearance: none;
    /* Webkit browsers */
    -webkit-appearance: none;
    /* Add padding for arrow icon */
    padding-right: 20px;
    color: #fff;

}

/* Styling select dropdown arrow icon in Firefox */
@-moz-document url-prefix() {
    select {
        /* Add custom arrow icon */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
        /* Position the arrow icon */
        background-position: right 10px center;
        /* Ensure the arrow icon is not repeated */
        background-repeat: no-repeat;

    }
}

/* Styling select dropdown options */
select option {
    /* Dark background color for options */
    background-color: #333;
    /* Text color for options */
    color: #fff;
}